p{

    color: red;
    font-size: 60px;
}
    
    #green{
    color: green;
    font-size: 20px;
    }
    
    /* This is a comment in css */
    
    .red{
    color: red;
    font-size: 50px;
    }
    
    .container{
        width: 800px;
        height: 500px;
        border: 2px solid black;
        padding: 20px;
        margin: 30px;
    
    }
    
    .container img{
    width: 100%;
    height: auto;
    }